# Data preprocessing
We have seen that the users that spends the most (in total) are the ones that buy a lot of products with average prices. At the same time, the products more profitable have the same features, lots of purchases and an average price.

In [1]:
import sys
sys.path.append('..')

In [2]:
# Loading useful libraries

import numpy as np
import pandas as pd

import os

import Demo2

In [3]:
# Getting dataset from CS

# data = pd.read_csv('gs://engo-ml_spec2023-demo2/data_raw.csv')
# data.head()

In [4]:
# Getting dataset from local file

users = pd.read_csv('../tmp/users_train.csv', index_col='User_ID')
users_test = pd.read_csv('../tmp/users_test.csv', index_col='User_ID')

users.head()

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Number of Purchases,Sum spent,Average Purchase
User_ID,,,,,,,,,
1003663,F,36-45,9,B,1,0,45,549674,12214.977778
1001386,F,26-35,0,B,1,0,42,385080,9168.571429
1005344,F,51-55,1,C,3,0,121,953172,7877.454545
1000298,F,18-25,4,C,2,0,15,137272,9151.466667
1004679,M,55+,13,C,4+,1,37,280273,7574.945946

In [5]:
# Selecting "regression" or "classification"

model_type = "classification"

assert(model_type in ["regression", "classification"])

In [6]:
# Preprocessing

X_cols = ['Gender', 'Age', 'Occupation', 'City_Category', 'Stay_In_Current_City_Years', 'Marital_Status']

if model_type == "regression":
     X_train, y_train, X_test, y_test = Demo2.preprocess_per_regression(users, users_test, X_cols=X_cols, y_col='Sum spent')
else:
    X_train, y_train, X_test, y_test = Demo2.preprocess_per_classification(users, users_test, X_cols=X_cols,
                                                                           old_y_col='Sum spent', new_y_col='is_BigSpender')

# Saving data

In [7]:
try:
   os.makedirs("../tmp")
except FileExistsError:
   # directory already exists
   pass

In [8]:
X_train.to_csv(f'../tmp/X_train_{model_type}.csv')
y_train.to_csv(f'../tmp/y_train_{model_type}.csv')
X_test.to_csv(f'../tmp/X_test_{model_type}.csv')
y_test.to_csv(f'../tmp/y_test_{model_type}.csv')